%link{:href => "uikit.min.css", :rel => "stylesheet"}/


=render partial: '/items/header'
.main
  .pickup-head__img
    .uk-container.uk-container-center.uk-flex.uk-flex-center
      = image_tag "member_photo_noimage_thumb.png", class: "my-avatar__image"
    %p ユーザーネーム
  .uk-container.uk-container-center
    お知らせ
    やることリスト
  .pickup-container--white
    .pickup-head--white
      .mypage-list
        %ul
          %li マイページ
        %ul
          %li
        %ul
          %li.black-link
            = link_to "一覧を見る", "#", method: :get
  .buy-list
    購入した商品
  .pickup-container--white
    .pickup-head--white
      .mypage-list
        %span.now-list
          取引中
        %span.old-list
          過去の取引

  .pickup-container--white
    .pickup-head--white
      .mypage-list
        %ul
          %li マイページ
  .pickup-container--white
    .pickup-head--white
      .mypage-list
        %h2 売上・ポイント
        %ul
          %li 売上・申し込み申請

  .pickup-container--white
    .pickup-head--white
      .mypage-list
        %h2 設定
        %ul
          %li
            = link_to "プロフィール", "/mypage/profile/#{current_user.id}"
  .uk-section-primary
    テスト
.footer
  = render partial: "/items/app-banner"
  = render partial: "/items/footer"
  = render partial: "/items/footer-sell-btn"
