%h3
  = link_to "レディース新着アイテム", root_path, method: :get
.items-box-content
  .items-box
    = link_to do
      .items-box-photo
        = image_tag "sample1.png", class: "banner-image"
      .items-box-body
        .items-box-name
          ファーコート
        .items-box-num
          .items-box-price
            ¥2,000
          .items-box-likes
            .icon-like-border
              %span 15
  .items-box
    = link_to do
      .items-box-photo
        = image_tag "sample2.png", class: "banner-image"
      .items-box-body
        .items-box-name
          ポーチ
        .items-box-num
          .items-box-price
            ¥300
          .items-box-likes
            .icon-like-border
              %span
  .items-box
    = link_to do
      .items-box-photo
        = image_tag "sample3.png", class: "banner-image"
      .items-box-body
        .items-box-name
          ハートキャップ
        .items-box-num
          .items-box-price
            ¥7,600
          .items-box-likes
            .icon-like-border
              %span 4
  .items-box
    = link_to do
      .items-box-photo
        = image_tag "sample4.png", class: "banner-image"
      .items-box-body
        .items-box-name
          スカーフ
        .items-box-num
          .items-box-price
            ¥1,800
          .items-box-likes
            .icon-like-border
              %span
.view-all
  = link_to "全ての商品を見る", root_path, method: :get

%h3
  = link_to "メンズ新着アイテム", root_path, method: :get
.items-box-content
  .items-box
    = link_to do
      .items-box-photo
        = image_tag "sample1.png", class: "banner-image"
      .items-box-body
        .items-box-name
          ファーコート
        .items-box-num
          .items-box-price
            ¥2,000
          .items-box-likes
            .icon-like-border
              %span 15
  .items-box
    = link_to do
      .items-box-photo
        = image_tag "sample2.png", class: "banner-image"
      .items-box-body
        .items-box-name
          ポーチ
        .items-box-num
          .items-box-price
            ¥300
          .items-box-likes
            .icon-like-border
              %span
  .items-box
    = link_to do
      .items-box-photo
        = image_tag "sample3.png", class: "banner-image"
      .items-box-body
        .items-box-name
          ハートキャップ
        .items-box-num
          .items-box-price
            ¥7,600
          .items-box-likes
            .icon-like-border
              %span 4
  .items-box
    = link_to do
      .items-box-photo
        = image_tag "sample4.png", class: "banner-image"
      .items-box-body
        .items-box-name
          スカーフ
        .items-box-num
          .items-box-price
            ¥1,800
          .items-box-likes
            .icon-like-border
              %span
.view-all
  = link_to "全ての商品を見る", root_path, method: :get

%h3
  = link_to "ベビー・キッズ新着アイテム", root_path, method: :get
.items-box-content
  .items-box
    = link_to do
      .items-box-photo
        = image_tag "sample1.png", class: "banner-image"
      .items-box-body
        .items-box-name
          ファーコート
        .items-box-num
          .items-box-price
            ¥2,000
          .items-box-likes
            .icon-like-border
              %span 15
  .items-box
    = link_to do
      .items-box-photo
        = image_tag "sample2.png", class: "banner-image"
      .items-box-body
        .items-box-name
          ポーチ
        .items-box-num
          .items-box-price
            ¥300
          .items-box-likes
            .icon-like-border
              %span
  .items-box
    = link_to do
      .items-box-photo
        = image_tag "sample3.png", class: "banner-image"
      .items-box-body
        .items-box-name
          ハートキャップ
        .items-box-num
          .items-box-price
            ¥7,600
          .items-box-likes
            .icon-like-border
              %span 4
  .items-box
    = link_to do
      .items-box-photo
        = image_tag "sample4.png", class: "banner-image"
      .items-box-body
        .items-box-name
          スカーフ
        .items-box-num
          .items-box-price
            ¥1,800
          .items-box-likes
            .icon-like-border
              %span
.view-all
  = link_to "全ての商品を見る", root_path, method: :get

%h3
  = link_to "コスメ・香水・美容新着アイテム", root_path, method: :get
.items-box-content
  .items-box
    = link_to do
      .items-box-photo
        = image_tag "sample1.png", class: "banner-image"
      .items-box-body
        .items-box-name
          ファーコート
        .items-box-num
          .items-box-price
            ¥2,000
          .items-box-likes
            .icon-like-border
              %span 15
  .items-box
    = link_to do
      .items-box-photo
        = image_tag "sample2.png", class: "banner-image"
      .items-box-body
        .items-box-name
          ポーチ
        .items-box-num
          .items-box-price
            ¥300
          .items-box-likes
            .icon-like-border
              %span
  .items-box
    = link_to do
      .items-box-photo
        = image_tag "sample3.png", class: "banner-image"
      .items-box-body
        .items-box-name
          ハートキャップ
        .items-box-num
          .items-box-price
            ¥7,600
          .items-box-likes
            .icon-like-border
              %span 4
  .items-box
    = link_to do
      .items-box-photo
        = image_tag "sample4.png", class: "banner-image"
      .items-box-body
        .items-box-name
          スカーフ
        .items-box-num
          .items-box-price
            ¥1,800
          .items-box-likes
            .icon-like-border
              %span
.view-all
  = link_to "全ての商品を見る", root_path, method: :get
